.CaseDetailsPage {
  text-align: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CaseDetailsPage h1 {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px 5px;
  margin-top: 5px;
}

.CaseDetailsPage p {
  font-size: 13px;
  margin-bottom: -10px;
  padding: 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.questions-button {
  margin-top: 10px;  
  background-color: #ffc121;
  box-shadow: 0 4px 0 #032564;
  font-size: 13px;
}
    /* Add margin to separate the buttons */

.questions-button:active {
  box-shadow: none;
  transform: translateY(3px);
}

.toggle-button {
  background-color: #253759;
  box-shadow: 0 3px 0 #032564;
  font-size: 16px;
}

.toggle-button:active {
  box-shadow: none;
  transform: translateY(3px);
}
.questions-link {
  padding-bottom: 90px;
  margin-top: -10px;
}
.photos-link {
  margin-bottom: 10px; 
  text-align: center;
  padding-top: 20px;
}

.photos-button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #253759;
  box-shadow: 0 4px 0 #000000;
  font-size: 16px;
}

.photos-button:active {
  box-shadow: none;
  transform: translateY(3px);
}
