/* CaseDetails.css */

.CaseDetailsPage {
  /* text-align: center; */
  padding: 20px;
  padding-bottom: 90px;
}

.content {
  max-width: 320px;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid #000000;
  border-radius: 30px;
  background-color: #253759;
}

.content h1 {
  font-size: 15px;
  color: #fff;
  margin-top: 10px;
  text-align: center;
}

.content p {
  font-size: 14px;
  color: #fff;
  margin-top: -30px;
  text-align: center;
}

.case-image {
  width: 150%;
  max-width: 270px;
  height: auto;
  margin: 30px 0;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

.toggle-button, .questions-button {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button {
  background-color: #b0babf;
  box-shadow: 0 3px 0 #032564;
  font-size: 14px;
  width: 250px;
  margin-top: 20px;
}

.questions-button {
  background-color: #ffc121;
  box-shadow: 0 3px 0 #020d23;
  font-size: 14px;
  width: 250px;
  margin-top: 20px;
  text-decoration: none;
}
.questions-link {
  text-decoration: none;
}


