.CaseFilesPage {
    text-align: center;
    padding-top: 30px;
  }
  
  .CaseFilesPage h1 {
    font-size: 21px;
    margin-bottom: 15px;
  }
  
  .case-files-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .case-file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #253759;
  }
  
  .case-file-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .case-file-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .case-label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .case-file-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
  }
  
  .case-file-content h2 {
    font-size: 15px;
    margin: 15px;
    color: #c0d9d9;
    padding: 5px 5px;
  }
  
  .case-file-content p {
    font-size: 14px;
    color: #c0d9d9;
    margin: 0;
  }
  