@import url('https://fonts.cdnfonts.com/css/film-noir-adventure');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Film Noir Adventure', Arial, sans-serif;
  background-color: #c0d9d9;
}

h1, h2, p, .login-button {
  font-family: 'Film Noir Adventure', Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #466273;
  padding: 1rem 0;
  /* position: fixed; */
  width: 100%;
  height: 70px;
  bottom: 0;
  box-shadow: 6px 6px 6px rgba(130, 74, 74, 0.1); 
  z-index: 10; 
  border-radius: 30px 30px 0 0; 
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s, transform 0.3s; 
  width: 65px;
}

.nav-links a span {
  margin-top: 0.5rem;
}

.nav-links a:hover {
  color: #FFC121;
  transform: translateY(-5px); 
}

.nav-links a.active {
  color: #FFC121; 
}


main {
  padding: 2rem;
  padding-bottom: 4rem; 
  text-align: center;
}

section {
  margin-bottom: 2rem;
  /* box-shadow: 8px 8px 8px 8px rgba(1, 1, 22, 0.1); Elevation */
  border-radius: 60px;
}

h1, h2 {
  color: white;
}
.border-container {
  border: 2px solid #ffc107;
  border-color: #253759; 
  /* border-style: solid;  */
  border-width: 2px; 
  background-color: #253759; 
  height: 210px; 
  margin-top: 12px;
  border-radius: 5px;
  padding: 10px;
}
.border-container p {
  color: white;
  text-align: center;
  font-size: 13.9px;
  margin-top: -5px;
  box-shadow: 18px 18px 18px 18px rgba(1, 1, 22, 0.1);
  padding: 5px 5px;
}

.image-container {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 45px;
  
}

.detective-image {
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin-top: -15px;
  box-shadow: 28px 28px 28px 28px rgba(1, 1, 22, 0.1);
}


.login-container {
  margin-top: 1rem;
  text-decoration: none;
  
}

.login-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #253759;
  color: #ffc121;
  border: none;
  border-radius: 5px;
  width: 250px;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.1); /* Elevation */
  transition: background-color 0.3s, transform 0.3s;
  background-color: #253759;
  box-shadow: 0 3px 0 #000000;
  margin-top: 20px;
}

.login-button:active {
  box-shadow: none;
  transform: translateY(3px);
}

.profile-icon-container {
  position: fixed;
  top: 20px;
  right: 35px;
  cursor: pointer;
  color: #253759;
  font-size: 1.5rem;
  box-shadow: 8px 8px 8px 8px rgba(1, 1, 22, 0.1);
}
.profile-icon-container a {
  color: inherit;
  text-decoration: none;
}

.profile-icon-container a:hover {
  color: #FFD700;
}


@media (max-width: 768px) {
  .detective-image {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .detective-image {
    max-width: 100%;
    height: auto;
  }
}
/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .nav-links {
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
  }

  .nav-links li {
    margin: 0.5rem 0;
  }

  .nav-links a {
    font-size: 0.9rem;
  }
}